[buildout]
develop = .
parts = test docs
versions = versions

[versions]
z3c.pt = 1.2.1
Chameleon = 1.2.13

[test]
recipe = zc.recipe.testrunner
eggs = z3c.pagelet [test]
environment = test-environment

[test-environment]
CHAMELEON_DEBUG = False
CHAMELEON_CACHE = False

[docs]
recipe = z3c.recipe.sphinxdoc
eggs = z3c.pagelet [docs]
build-dir = ${buildout:directory}/docs
default.css =
layout.html =
